.top-header{
   font-size: 50px;
   font-weight: bold;
   margin-left: 20px;
   text-align: center;
}
.record-table{
    margin-left: 100px;
    margin-right: 100px;
}
.add-button{
    display: flex;
    justify-content: end;
}
